<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stockcommission.dao.UserMapper">


	
	<select id="findUserInfo" parameterType="java.lang.String"
		resultType="com.stockcommission.domain.UserVo">
		Select *
		from t_user
		where ID = #{userid}
	</select>

	
</mapper>